<html>
<head> Superhero Teams</head>
<body>
  <h1> Superhero Team! </h1>
  
  <h1><%= @team.name %> </h1><br>
  
  <h1><%= @team.motto %> </h1><br>
  
  <div class="student">
  <h3>Name: <%= @student.name %></h3><br>
  <h4>Grade: <%= @student.grade %></h4>
</div><br>
  
  
  
  
  
  
  
</body>
</html>
