<html>
  <head> Create a team and heroes!</head>
    <body> 


    <h1>Create a Team and Heroes!</h1>
    
    <form action="/teams" method="post" >
    <label team_name> Team Name:</label> <input type="text" name="team[name]"> 
    <label team_motto> Team Motto:</label> <input type="text" name="team[motto]"> 
    
    
    <h1>Hero 1 </h1>
    <label hero1_name> Team Name:</label> <input type="text" name="team[name]"> 
    <label team_motto> Team Motto:</label> <input type="text" name="team[motto]"> 
    <label team_motto> Team Motto:</label> <input type="text" name="team[motto]">
    
    
    
    
    
    
    
    </form>

    </body>
</html>